/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}



body {
	line-height: 1.6;
	width: 100%;
	text-align: center;
	font-family: 'Quicksand', serif;
	background: rgb(250, 246, 246);
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
	color: darkslategrey;
}


h1 a {
	font-size: 1em;
	color: darkslategrey;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: 000;
}

.profile-pic {
	padding-top: 0;
	width: auto;
	height: auto;
	
}

img {
	padding: 10px 10px;
}

div img,
p {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    max-width: 80%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.top-nav {
	margin-top: 30px;
  }
  
  .top-nav li {
	padding: 10px 0;
	margin: 5px auto;
  }
  
  .top-nav a {
	text-transform: uppercase;
  }

/* ---- Header ---- */

#home img {
	float: right;
	width: 30%;
}

#home p {
	float: left;
	width: 60%;
}

/* ---- Footer ---- */

.contact-info {
	margin-top: 50px;
	padding: 0;
}

.footer-nav h2 {
	float: left;
	height: 12px;
	line-height: 12px;
	margin-top: 50px;
}
  ​
.footer-nav li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav ul {
	text-align: right;
}

.footer-nav li:last-child {
	margin-right: 0;
}

.footer-nav a {
	font-size: .95em;
	color: darkslategrey;
	text-transform: uppercase;
}

.footer-nav a:hover {
	color: lightskyblue;
}

.footer-nav {
	background: rgb(250, 246, 246);
	margin-top: 50px;
	border-top: solid 1px slategrey;
}

.portfolio {
	background: #fff;
	padding-top: 50px;
}




/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
	.main-header,
	.name,
	.top-nav,
	.top-nav li {
	display: inline-block;
	border: none;
	padding: 5px 5px;
	margin: 0;
	text-align: center;
}

.top-nav {
	float: right;
}

.portfolio div {
	background: #fff;
	float: left;
  	width: 50%;
  	min-height: 400px;
	}

.footer-nav .mobile-link {
	display: none;
}

.footer-nav .tablet-link {
	display: inline-block;
}	
	
}



@media (min-width: 1024px) {
	.main-header,
	.name,
	.top-nav,
	.top-nav li {
	display: inline-block;
	border: none;
	padding: 5px 5px;
	margin: 0;
	text-align: center;
}

h1 {
    float: left;
    text-align: left;
    height: 12px;
    line-height: 12px;
  }

  .top-nav {
    text-align: right;
  }

  .portfolio div {
	width: 33.333%;
  }

.mobile-link {
	display: none;
}

}
	/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
		display: table;
	clear: both;
}